body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}
.logo-accent {
    color: #2E2F42;
}

.nav-link {
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {  
    color: #404bbf ;
}
.address {
    font-family: "Roboto", sans-serif ;
    font-style: normal;
}
.address-link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 400;
    text-decoration: none;
}
.address-link:focus-child {
    color: #2e2f42;
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
.hero {
        background-color:#2e2f42;
        text-align: center;
}
.hero-title {
        color: #ffffff;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em
}
.hero-button{
        background-color: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
}
    .hero-button:hover,
    .hero-button:focus {
        background-color: #404BBF;
}
ul {
        list-style: none;
}
.features {
        font-family: "Roboto", sans-serif;
      
}
.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.feature-list {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.feature-text {
    line-height: 1.5;
    font-size: 16px;
    color: #434455;
    letter-spacing: 0.02em;
}
.team {
    background-color: #F4F4FD;
}
.our-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.team-item{
    background-color: #ffffff;
}
.team-role {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    }
.portfolio-item {
    font-size: 36px;
    line-height: 1.11;
}
.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer {
    background-color: #2E2F42;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}
.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
.footer-logo-accent {
    color: #F4F4FD;
}